/* Graphik - Modern sans-serif font family */

@font-face {
  font-family: 'Graphik';
  src: url('./graphik/Graphik-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik';
  src: url('./graphik/Graphik-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik';
  src: url('./graphik/Graphik-Semibold-Web.woff2') format('woff2'),
       url('./graphik/Graphik-Semibold-Web.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik';
  src: url('./graphik/Graphik-Semibold-Web.woff2') format('woff2'),
       url('./graphik/Graphik-Semibold-Web.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik';
  src: url('./graphik/Graphik-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* JetBrains Mono is referenced in CSS, but custom files are not bundled. */
